:root {
    --green-blue: rgb(151, 246, 201);
    --sky-blue: rgb(156, 217, 241);
    --lightest-color: rgb(219, 217, 227);
    /* --background: rgb(173, 180, 191);  */
    --background: rgb(28, 30, 34); 
    /* --navy-blue: rgb(50, 62, 90); */
    --navy-blue: rgb(89, 99, 123);
    /* --shadow: rgb(75, 79, 89); */
    --shadow: rgb(63, 69, 83);
    --input-color: rgb(233, 240, 253)
  }


html {
    background-color: black;
}


body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: lighter;
    border: 0.08rem solid var(--lightest-color);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding: 0rem;
    margin: 1rem;
    margin-top: 2rem;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

* {
    font: var(--lightest-color);
    background-color: var(--background)
  }


p, h4, h3 {
    color: var(--lightest-color)
  }

* h3 {
    margin: 0rem;
    font-weight: light;
    font-size: larger;
}

* h3 small {
    margin: 0rem;
    font-size: smaller;
    position: relative;
    top: 0.22rem;
    margin-left: 0.04rem;
}

* h4 {
    font-weight: light;
    font-size: larger;
    position: relative;
    margin-top: 2rem;
}

* h4 small {
    margin: 0rem;
    font-size: smaller;
    position: relative;
    top: 0.25rem;
    margin-left: 0.06rem;
}

* h5 {
    font-size: normal;
    font-weight: light;
    position: relative;
    margin-top: 1.6rem;
    color: var(--lightest-color);
}

* h5 small {
    font-size: smaller;
    position: relative;
    top: 0.01rem;
    margin-left: 0.06rem;
}

* label {
    color: var(--lightest-color);
  }

svg {
    color: var(--lightest-color);
    opacity: 90%;
    margin-top: 2rem;
    margin-bottom: 0rem;
    /* margin-left: 5rem; */
    /* padding-left: 2rem; */
    position: relative;
    left: 5rem;
    /* z-index: 9; */
    height: 28rem;
    /* width: 40rem; */
}

button {
    color: var(--lightest-color);
    background-color: var(--shadow);
    border-color: var(--lightest-color);
    border-width: 0rem;
    font-weight: lighter;
    opacity: 100%;
    font-size: smaller;
    border-radius: 0.2rem;
    /* box-shadow: 0 0.3rem 0.3rem 0 rgba(17, 16, 16, 0.4),0 0.15rem 1rem 0 rgba(56, 55, 55, 0.19); */
    box-shadow: 0 0.15rem 0.15rem 0 rgba(17, 16, 16, 0.7);
    margin-bottom: 0rem;
    margin-top: 0rem;
    font-style: oblique;
  }

* button h5 {
   background-color: var(--shadow);
   font-weight: light;
   opacity: 100%
}

button:hover {
   opacity: 70%;
}

button:disabled h5 {
    font-weight: light;
    opacity: 50%;
}

button:disabled {
    pointer-events: none;
    opacity: 80%; 
}

* select {
  color: var(--shadow);
  background-color:  var(--input-color);
  opacity: 90%;
  border-radius: 0.4rem;
}

* select:disabled {
    opacity: 40%;
  }

input {
    /* font: whitesmoke; */
    color: var(--lightest-color);
    background-color: var(--input-color);
    opacity: 90%;
    border-radius: 0.4rem;
    border: 0.05rem solid var(--navy-blue)
  }

.faint-line {
    width: 89vw;
    margin-top: -0.2rem; 
    border: 0.003rem solid white;
    opacity: 15%; 
}

.compartments-explanation {
    position: absolute;
    top: 5.3rem;
    margin-left: 70vw;
    width: 24vw;
    font-size: small;
    margin-right: 0rem;
    background-color: rgba(0, 0, 0, 0);
    font-style: italic;
    z-index: 1;
}

.logo {
    position: absolute;
    color: var(--lightest-color);
    font-size: x-large;
    font-style: oblique;
    margin-left: 1rem;
    top: -0.3rem;
}

.logo small {
    /* position: absolute; */
    color: var(--lightest-color);
    font-size: small;
    font-style: oblique;
    top: -0.3rem;
}

.faint-line-2 {
    width: 89vw;
    /* margin-top: -0.2rem; */
    border: 0.003rem solid white;
    opacity: 20%; 
}

p strong { 
    font-weight: normal; 
}

.text-left { 
    text-align: left; 
}


.faint-line-3 { 
    width: 89vw; 
    margin-top: -0.2rem;  
    border: 0.003rem solid white;
    opacity: 20%;  
}

.time-input {  
    color: var(--lightest-color);
    background-color: var(--input-color);  
    opacity: 90%; 
}

.time-input-2 { 
    color: var(--lightest-color);
    background-color:var(--input-color); 
    opacity: 90%; 
}

input:disabled { 
    opacity: 40%; 
  }

  .line {
    fill: none;
    stroke: rgb(57, 85, 108);
    stroke-width: 2px; 
    z-index: 10;
  }

  .dotted-line { 
    fill: none;
    stroke: rgb(175, 171, 168);
    stroke-width: 1.5px; 
    z-index: 9;
 }

 .dotted-line-2 {
    display: block;
    fill: none;
    stroke: rgba(220, 98, 85, 0.5);
    stroke-width: 1.5px; 
    z-index: 10;
 }


input { 
    width: 3rem; 
    color: var(--shadow)
}

.time-input { 
    width: 7rem; 
    position: relative; 
    left: 0rem;
    color: var(--shadow)
}

.time-input-2 { 
    width: 7rem; 
    position: relative; 
    left: -3.7rem;
    color: var(--shadow)
}
 
.longer-input { 
    width: 7rem; 
}

.first-table { 
    position: relative; 
    top: 0rem;
    margin-top: 0rem; 
    width: 29vw; 
}

.second-table { 
    position: relative; 
    top: 0rem;
    margin-top: 0rem; 
    width: 29vw; 
}

.third-table {
    position: relative;
    top: 0rem;
    margin-top: 0rem;
    width: 29vw;
}

.third-table input {
    margin-right: -1rem;
}

.fourth-table {
    position: relative;
    top: 0rem;
    margin-top: 0rem;
    width: 29vw;
}

.fourth-table input {
    margin-right: -3rem;
}

.columns {
   margin-top: 2rem;
   display: grid;
   justify-content: center;
   height: auto;
   grid-template-columns: auto;
   grid-template-rows: auto;
   grid-template-areas: 
       "column-1 column-2 column-3"
}

.column-1 {
    grid-area: column-1;
    width: 30vw;
    margin-left: 3rem;  
    border-right: 0.5px solid var(--lightest-color);  
    margin-right: 1rem; 
    z-index: 2;
}

.column-3 {  
    grid-area: column-3; 
    margin-left: 0rem; 
    margin-right: 1rem; 
    width: 28vw; 
    margin-top: 0.2rem;
}

.column-2 { 
    grid-area: column-2; 
    width: 32vw; 
    height: auto; 
    display: grid; 
    border-right: 0.5px solid var(--lightest-color); 
    margin-right: 1rem; 
    grid-template-areas:  
        "column-2-upper"
        "column-2-middle"
        "column-2-middle-2"
        "column-2-lowest"
}

.column-2 p {
    font-size: smaller;
}

.column-2-upper {
    grid-area: column-2-upper;
    height: 4.9rem;
    width: 32vw;
    display: grid;
    position: relative;
    grid-template-areas: "column-2-upper-left columnn-2-upper-right"
}

.column-2-upper p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
    width: auto;
}

.column-2-upper h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    width: 30vw;
}

.center {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0) 
    /* see through background color */
}



.column-2-upper-left {
    grid-area: column-2-upper-left;
    position: absolute;
    top: 2.5rem;
}

.column-2-upper-left p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
}

.column-2-upper-right p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
}


.column-2-upper-right {
    grid-area: column-2-upper-right;
    position: absolute;
    top: 2.5rem;
    margin-left: 9rem;
    margin-right: -5rem;
}


.column-2-middle {
    grid-area: column-2-middle;
    position: relative;
    top: -1.0rem;
    height: 14rem;
    width: 32vw;
    position: relative;
    display: grid;
    grid-template-areas: "column-2-middle-left column-2-middle-right";
}

.column-2-middle p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
    width: auto;
}

.column-2-middle h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    width: 30vw;
    display: flex;
    justify-content: center;
}

.column-2-middle-left {
    grid-area: column-2-middle-left;
    height: auto;
    width: auto;
    position: absolute;
    top: 2.3rem;
}


.column-2-middle-right {
    grid-area: column-2-middle-right;
    height: auto;
    position: absolute;
    top: 2.3rem;
    margin-left: -16vw;
    /* left: -12rem; */
}

.column-2-middle-2 {
    grid-area: column-2-middle-2;
    position: relative;
    top: -0.4rem;
    width: 32vw;
    height: 10rem;
    display: grid;
    grid-template-areas: "column-2-middle-2-left column-2-middle-2-right";
}

.column-2-middle-2 p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
    position: relative;
    top: -0.5rem;
    width: auto;
}

.column-2-middle-2 h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    position: relative;
    top: -3rem;
    display: flex;
    justify-content: center;
}

.fixed-width {
    display: flex;
    justify-content: center;
    width: 32vw;
    position: relative;
}

.fixed-width-2 {
    display: flex;
    justify-content: center;
    width: 32vw;
    position: relative;
    /* left: -2rem; */
}

.font-normal-size {
    font-size: larger;
}

.column-2-middle-2-left {
    grid-area: column-2-middle-2-left;
    height: auto;
    position: absolute;
}


.column-2-middle-2-right {
    grid-area: column-2-middle-2-right;
    height: auto;
    position: absolute;
    left: -16vw;
    width: auto;
}

.column-2-lowest {
    grid-area: column-2-lowest;
    /* background-color: rgba(0, 400, 0, 0.1); */
    display: grid;
    grid-template-areas: "column-2-lowest-left column-2-lowest-right";
    position: relative;
    top: -2.5rem;
    width: 32vw;
}

.column-2-lowest-left {
    grid-area: column-2-lowest-left;
    height: auto;
    position: relative;
    top: 0.7rem;
    z-index: 11;
    width: 30vw;
}

.column-2-lowest-right {
    grid-area: column-2-lowest-right;
    height: 4rem;
    top: 0.7rem;
    position: relative;
    margin-left: -16vw;
    /* margin-right: 0rem; */
    z-index: 11;
}

.column-2-lowest p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
    position: relative;
    top: -0rem;
}

.column-2-lowest h4 {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    position: relative;
    top: -19.1rem;
    display: flex;
    justify-content: center;
}

.inline {
    display: flex;
}

.left-justify {
    position: relative;
    /* right: -1rem; */
    margin-left: auto;
}

button:hover {
    cursor: pointer; 
}

.toggle-button {
    height: 0.8rem;
    margin-bottom: 0rem;
    margin-top: -0.1rem;
    padding: 0rem;
    margin-right: 0rem;
}


.toggle-button button {
    width: 4rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: var(--shadow);
}

.toggle-button small {
    font-size: 0.55rem;
    background-color: var(--shadow);
}

.toggle-button button:disabled {
    background-color: var(--navy-blue);
    border: 0.1rem solid rgba(47, 46, 46, 0.8);
}

.toggle-button button:disabled small {
    color: var(--lightest-color);
    background-color: var(--navy-blue);
    font-weight: normal;
}

.pointer-events-none {
    pointer-events: none;
    opacity: 0.5;
}

.ai-predicted-sodium-div {
    visibility: hidden;
    position: relative;
    top: 3rem;
}

#potassium-caps-value-input {
    pointer-events: none;
    opacity: 30%
}

#serum-potassium-value-input {
    pointer-events: none;
    opacity: 30%
}

.disable {
    pointer-events: none;
    opacity: 30%
}

#salt-tabs-value-input {
    pointer-events: none;
    opacity: 30%
}

#urea-packets-value-input {
    pointer-events: none;
    opacity: 30%
}

#ddavp-value-input {
    pointer-events: none;
    opacity: 30%
}

#half-normal-saline-value-input {
    pointer-events: none;
    opacity: 30%
}

#LR-value-input {
    pointer-events: none;
    opacity: 30%
}

#potassium-manual-value-input {
    pointer-events: none;
    opacity: 30%
}

#ecf-volume-value-input {
    pointer-events: none;
    opacity: 30%
}

.run-interval-button {
    margin-top: 0.5rem;
    height: 1.5rem;
    /* width: 12rem; */
}

.run-interval-button:disabled {
    opacity: 50%;
    pointer-events: none;
}

.run-interval-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.set-baseline-button {
    margin-top: 0.5rem;
    height: 1.5rem;
    /* width: 12rem; */
}

.set-baseline-button:disabled {
    opacity: 50%;
    pointer-events: none;
}

.set-baseline-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.new-interval-button {
    margin-top: 1rem;
    margin-left: 0.5rem;
    height: 2rem;
    position: relative;
    /* left: 87vw; */
}

.new-interval-button:disabled {
    opacity: 50%;
    pointer-events: none;
}

.new-interval-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.see-models-button {
    margin-top: -2rem;
    height: 2rem;
    position: relative;
    margin-right: 1rem;
}

.see-models-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.about-button {
    margin-top: -2rem;
    height: 2rem;
    position: relative;
    margin-right: 1rem;
}

.about-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.machine-learning-button {
    margin-top: -2rem;
    height: 2rem;
    position: relative;
    margin-right: 1rem;
}

.machine-learning-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.csv-data-button {
    margin-top: -2rem;
    height: 2rem;
    position: relative;
    margin-right: 1rem;
}

.csv-data-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


.set-pre-interval-button {
    margin-top: 0.5rem;
    height: 1.5rem;
    /* width: 12rem; */
}

.set-pre-interval-button:disabled {
    opacity: 50%;
    pointer-events: none;
}


.set-pre-interval-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.set-initial-state-button {
    margin-top: 0.5rem;
    height: 1.5rem;
    /* width: 12rem; */
}

.set-initial-state-button:disabled {
    opacity: 50%;
    pointer-events: none;
}

.set-initial-state-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


.center {
    display: flex;
    justify-content: center;
}

.center-button {
    display: flex;
    justify-content: left;
    margin-top: 0.2rem;
    margin-bottom: -1.4rem;
}


.gap-below {
    margin-bottom: 1rem;
}

.comment {
    width: 35vw;
    margin-right: 2rem;
    font-size: small;
    position: relative;
    top: 0.4rem;
}

.hide {
    display: none;
}

.footer-nav-bar {
    border-top: solid var(--lightest-color) 2px;
    border-left: solid var(--lightest-color) 2px;
    border-right: solid var(--lightest-color) 2px;
    border-bottom: solid var(--lightest-color) 2px;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    position: fixed;
    overflow: visible;
    bottom: 2rem;
    height: 4rem;
    width: 98.8vw;
    z-index: 16;
    margin-left: -0.7rem;
    margin-right: -0.5rem;
}

.flex-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.flex-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10rem;
}

.footer-render-interval-number {
    position: relative;
    /* overflow: visible; */
    margin-top: 0.8rem;
    /* left: 70vw; */
    height: 2rem;
    width: 6rem;
    background-color: rgba(134, 67, 67, 0.2);
}

.footer-render-interval-number h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 14px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--lightest-color)
}

.footer-render-cummulative-time {
    position: relative;
    /* overflow: visible; */
    margin-top: 0.8rem;
    /* left: 50vw; */
    margin-left: 1rem;
    height: 2rem;
    width: 12rem;
    color: var(--lightest-color)
}

.footer-render-cummulative-time h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 14px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


#modal-1 {
    position: fixed;
    top: 6.3rem;
    left: 0.3rem;
    overflow: scroll;
    display: none;
    height: 90vh;
    margin-top: -4rem;
    margin-bottom: auto;
    padding-bottom: auto;
    width: 97.5vw;
    z-index: 13;
    margin-left: 0.6rem;
    margin-right: 0rem;
    border: 0.08rem solid var(--lightest-color);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

#modal-1 p {
    font-size: larger;
    overflow-wrap: break-word;
    margin-left: 1rem;
    margin-bottom: 7rem;
}

#modal-1 h3 {
    margin-left: 0.7rem;
    margin-top: 0.3rem;
}



#modal-2 {
    position: fixed;
    top: 6.8rem;
    left: 0;
    overflow: scroll;
    display: none;
    height: 90vh;
    margin-top: -4rem;
    margin-bottom: auto;
    padding-bottom: auto;
    width: 98.4vw;
    z-index: 14;
    margin-left: 0.6rem;
    margin-right: 0rem;
    border: 0.08rem solid var(--lightest-color);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

#modal-2 p {
    font-size: larger;
    overflow-wrap: break-word;
    margin-left: 1rem;
    margin-bottom: 7rem;
    /* background-color: rgb(201, 209, 245); */
}

.modal-3 {
    position: fixed;
    top: 0rem;
    left: 0;
    margin-bottom: 20rem;
    overflow: hidden;
    /* display: none; */
    height: 100%;
    margin-top: 0rem;
    margin-bottom: auto;
    padding-bottom: auto;
    width: 100vw;
    z-index: 50;
    margin-left: 0rem;
    margin-right: 0rem;
    background-color: rgb(155, 105, 68);
    /* opacity: 50%; */
    display: none;
    opacity: 0;
    animation: fadeInOut 1s ease-out;
}

.modal-3.show {
    display: block;
    opacity: 0.6;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.6;
    }
}


 

.space {
    width: 4rem;
}

.icf-ecf {
    position: relative;
    top: -2.5rem;
    left: 2rem;
    height: 1rem;
}

.close-modal-2-button {
    height: 2rem;
    width: 3rem;
    position: fixed;
    overflow: none;
    top: 5rem;
    right: 3rem;
    z-index: 14;
}

.close-modal-1-button {
    display: none;
    height: 2rem;
    width: 3rem;
    position: fixed;
    overflow: none;
    top: 4.2rem;
    right: 3rem;
    z-index: 13;
}

.close-modal-3-button {
    display: none;
    height: 3rem;
    width: 4rem;
    position: fixed;
    overflow: none;
    top: 4.2rem;
    right: 3rem;
    z-index: 60;
    background-color: rgb(209, 150, 91);
    color: black;
}

.close-modal-3-button:hover {
    opacity: 100%;
    background-color: rgb(163, 110, 57);
}

.csv-data-class {
    /* width: 90vw; */
    /* margin-right: 9rem; */
    overflow-y: auto;
    padding-bottom: 5rem;
    /* background-color: rgb(201, 209, 245); */
}

.csv-data-class p {
    margin-top: 5rem; 
    margin-right: 3rem;
}


/* COMPARTMENT MODELS: */


.compartments-title {
    position: relative;
    top: -7rem;
    z-index: 5;
}

#compartment-model-1-div {
    width: 15rem;
    height: 15rem;
    /* background-color: rgba(188, 154, 109, 0.5); */
    margin-left: 1rem;
    margin-top: 10rem;
}

#compartment-model-1-outside-box {
    width: 10rem;
    height: 6rem;
    /* background-color: rgba(13, 0, 255, 0.5); */
    position: relative;
    left: 3rem;
    top: 2rem;
    border: dotted var(--lightest-color) 0.18rem;
}


#compartment-model-1-ecf-box {
    width: 4rem; 
        /* 40% is 4rem, by default */
    height: 6rem;
    background-color:  var(--green-blue);
    opacity: 50%;
    position: relative;
    left: 6rem;
        /* shift left 6rem by default */
    top: -10.4rem;
    z-index: 10;
}

#compartment-model-1-icf-box {
    width: 6rem;
        /* 60% is 6rem, by default */
    height: 6rem;
    background-color: var(--sky-blue);
    opacity: 50%;
    position: relative;
    left: 0rem;
    top: -4.4rem;
    z-index: 4;
}

#compartment-model-1-grouping-container {
    visibility: hidden;
    position: relative;
    left: 0rem;
    right: 0rem;
    margin-left: 0rem;
    height: 6rem;
    top: -1rem;
    background-color: rgba(188, 154, 109, 0);
    /* invisible so does not block anything */
}

#compartment-model-1-midline-dotted {
    display: visible;
    border: dotted var(--lightest-color) 0.18rem;
    height: 5.75rem;
    width: 0rem;
    position: relative;
    top: -11.4rem;
    left: 5.9rem;
    z-index: 11;
}


#compartment-model-1-midline-solid {
    display: visible;
    border: solid var(--lightest-color) 0.18rem;
    opacity: 0%;
    /* opacity 0% now that shifting function removed */
    height: 5.75rem;
    width: 0rem;
    position: relative;
    top: -12rem;
    left: 5.9rem;
    z-index: 12;
}




#compartment-model-2-div {
    width: 15rem;
    height: 15rem;
    /* background-color: rgba(188, 154, 109, 0.5); */
    margin-left: 1rem;
    margin-top: 2rem;
}

#compartment-model-2-outside-box {
    width: 10rem;
    height: 6rem;
    /* background-color: rgba(13, 0, 255, 0.5); */
    position: relative;
    left: 3rem;
    top: 2rem;
    border: dotted var(--lightest-color) 0.18rem;
}


#compartment-model-2-ecf-box {
    width: 4rem; 
        /* 40% is 4rem, by default */
    height: 6rem;
    background-color: var(--green-blue);
    opacity: 50%;
    position: relative;
    left: 6rem;
        /* shift left 6rem by default */
    top: -10.4rem;
}

#compartment-model-2-icf-box {
    width: 6rem;
        /* 60% is 6rem, by default */
    height: 6rem;
    background-color:  var(--sky-blue);
    opacity: 50%;
    position: relative;
    left: 0rem;
    top: -4.4rem;
}

#compartment-model-2-grouping-container {
    visibility: hidden;
    position: relative;
    left: 0rem;
    right: 0rem;
    margin-left: 0rem;
    height: 6rem;
    top: -1rem;
    background-color: rgba(188, 154, 109, 0);
    /* invisible so does not block anything */
}

#compartment-model-2-midline-dotted {
    display: visible;
    border: dotted var(--lightest-color) 0.18rem;
    height: 5.75rem;
    width: 0rem;
    position: relative;
    top: -11.4rem;
    left: 5.9rem;
    z-index: 11;
}


#compartment-model-2-midline-solid {
    display: visible;
    border: solid var(--lightest-color) 0.18rem;
    opacity: 0%;
    height: 5.75rem;
    width: 0rem;
    position: relative;
    top: -12rem;
    left: 5.9rem;
    z-index: 12;
}



#compartment-model-3-div {
    width: 15rem;
    height: 10rem;
    background-color: rgba(188, 154, 109, 0);
    /* invisible so does not block anything */
    margin-left: 1rem;
    margin-top: 4rem;
    
}

#compartment-model-3-outside-box {
    width: 10rem;
    height: 6rem;
    /* background-color: rgba(13, 0, 255, 0.5); */
    position: relative;
    left: 3rem;
    margin-left: 1rem;
    top: 1rem;
    border: dotted var(--lightest-color) 0.18rem;
}


#compartment-model-3-ecf-box {
    width: 4rem; 
        /* 40% is 4rem, by default */
    height: 6rem;
    background-color:  var(--green-blue);
    opacity: 50%;
    position: relative;
    left: 6rem;
        /* shift left 6rem by default */
    top: -14.4rem;
}

#compartment-model-3-icf-box {
    width: 6rem;
        /* 60% is 6rem, by default */
    height: 6rem;
    background-color:  var(--sky-blue);
    opacity: 50%;
    position: relative;
    left: 0rem;
    top: -8.4rem;
    
}

#compartment-model-3-grouping-container {
    visibility: hidden;
    position: relative;
    left: 0rem;
    right: 0rem;
    margin-left: -1rem;
    height: 6rem;
    top: -1rem;
}

#compartment-model-3-midline-dotted {
    display: visible;
    border: dotted var(--lightest-color) 0.18rem;
    height: 5.75rem;
    width: 0rem;
    position: relative;
    top: -15.4rem;
    left: 4.9rem;
    /* shifted 1rem to left to align */
    z-index: 11;
}


#compartment-model-3-midline-solid {
    display: visible;
    border: solid var(--lightest-color) 0.18rem;
    opacity: 0%;
    height: 5.75rem;
    width: 0rem;
    position: relative;
    top: -12rem;
    left: 5.9rem;
    z-index: 12;
}

.increase-width-text {
    display: none;
}

.data-table-container {
    margin-top: 0rem;
    margin-left: 3vw;
    margin-right: 5vw;
    padding-bottom: 7rem;
    width: 90vw;
    overflow: scroll;
}

.data-table-container table {
    border: 0.05rem solid var(--lightest-color);
    /* background-color: rgb(252, 251, 251); */
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    padding-right: 1rem;
    /* width: 100%; */
}

.data-table-container td {
    border: 0.01rem solid var(--lightest-color);
    opacity: 80%;
    padding: .1rem;
    font-size: 0.8rem;
}

.data-table-container td:first-child {
    color: var(--lightest-color);
    font-weight: normal;
    text-align: center;
}

.data-table-container tr {
    color: var(--lightest-color);
    font-weight: lighter;
    text-align: center;
}

.data-table-container tr:first-child {
    color: var(--lightest-color);
    font-weight: normal;
}

.baseline-case-data p {
    color: var(--lightest-color);
    padding-left: 2rem;
    font-size: 0.8rem;
    height:fit-content;
}

#modal-2 p {
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

#chart-container {
    position: relative;
    margin-right: 15rem;
}


.graph-key svg {
    position: absolute;
    left: 40vw;
    height: 8rem;
    margin-top: 0rem;
}

.small-font {
    font-size: small;
}

.lower-space {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    height: 6.2rem;
    width: 100vw;
    background-color: black;
    z-index: 14;
}

.top-cover {
    position: fixed;
    top: 0rem;
    left: 0rem;
    height: 2rem;
    width: 100vw;
    background-color: black;
    z-index: 14;
}

.machine-learning-key {
    visibility: hidden  
}

.low-width-div {
    /* position: fixed; */
    /* height: 70vh; */
    margin-right: 2rem;
}

#height-expander {
    display: block;
    height: 0vh;
}

.smaller-time-font {
    font-size: small;
    position: relative;
    padding-top: 0.23rem;
}


@media only screen and (max-width: 1010px) {
    .column-3 {
        display: none;
    }

    .compartments-explanation {
        display: none;
    }

    .column-2 {
        width: 50vw;
        border-right: none;
    }

    .column-2-middle-left {
        width: 50vw;
    }

    .column-2-upper-left {
        width: 50vw;
    }

    .column-2-upper-right {
        width: 22vw;
    }

    .column-2-middle-right {
        width: 22vw;
    }

    .column-2-middle-2-right {
        width: 22vw;
    }

    .column-2-lowest {
        width: 50vw;
    }

    .column-2-lowest-left {
        width: 22vw;
    }

    .column-2-lowest-right {
        width: 22vw;
    }

    .column-1 {
        width: 40vw;
        /* margin-left: 0rem; */
    }

    .first-table {
        position: relative;
        top: 0rem;
        margin-top: 0rem;
        width: 40vw;
    }


.second-table {
    position: relative;
    top: 0rem;
    margin-top: 0rem;
    width: 40vw;
}

.third-table {
    position: relative;
    top: 0rem;
    margin-top: 0rem;
    width: 28vw;
}

.third-table input {
    margin-right: -1rem;
}

.fourth-table {
    position: relative;
    top: 0rem;
    margin-top: 0rem;
}

.fourth-table input {
    margin-right: -3rem;
}

.comment {
    font-size: x-small
}

/* .faint-line {
    width: 40vw;
    margin-top: -0.2rem;
    border: 0.003rem solid white;
    opacity: 15%;
} */

#height-expander {
    display: none;
    height: 0vh;
}

}


  @media only screen and (max-width: 1010px) {
    .column-3 {
        display: none;
    }
    .column-2 {
        display: none;
    }
    .column-1 {
        display: none;
    }
    .increase-width-text {
        display: block;
        margin-left: 2rem;
    }
    .low-width-div {
        height: 70vh;
        width: 100%;
    }
    .footer-nav-bar {
        display: none
    }
    modal {
        display: none;
    }

  }