

.columns {
   display: grid;
   height: auto;
   grid-template-columns: auto;
   grid-template-rows: auto;
   grid-template-areas: 
       "column-1 column-2"
}

.column-1 {
    grid-area: column-1;
    background-color: rgb(244, 244, 226);
}

.column-2 {
    grid-area: column-2;
    background-color: rgb(233, 240, 251);
    width: 40vw;
    height: auto;
    display: grid;
    grid-template-areas: 
        "column-2-upper"
        "column-2-middle"
        "column-2-middle-2"
        "column-2-lowest"
}

.column-2-upper {
    grid-area: column-2-upper;
    /* height: 6rem; */
    display: grid;
    /* grid-template-columns: auto; */
    /* grid-template-rows: auto; */
    grid-template-areas: "column-2-upper-left columnn-2-upper-right"
}

.column-2-upper p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
}

.column-2-upper h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    width: 40vw;
}

.center {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    /* background-color: rgb(123, 129, 129); */
}



.column-2-upper-left {
    grid-area: column-2-upper-left;
    /* background-color: red; */
    height: auto;
    position: absolute;
    top: 2rem;
}

.column-2-upper-left p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
}

.column-2-upper-right p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
}


.column-2-upper-right {
    grid-area: column-2-upper-right;
    /* background-color: blue; */
    height: auto;
    position: absolute;
    top: 2rem;
    margin-left: 9rem;
}


.column-2-middle {
    grid-area: column-2-middle;
    background-color: rgba(0, 128, 0, 0.3);
    height: 15rem;
    width: 40vw;
    display: grid;
    grid-template-areas: "column-2-middle-left column-2-middle-right";
}

.column-2-middle p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
}

.column-2-middle h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    width: 40vw;
    display: flex;
    justify-content: center;
}

.column-2-middle-left {
    grid-area: column-2-upper-left;
    height: auto;
    position: absolute;
    top: 11rem;
}


.column-2-middle-right {
    grid-area: column-2-upper-right;
    height: auto;
    position: absolute;
    top: 11rem;
    margin-left: 9rem;
}

.column-2-middle-2 {
    grid-area: column-2-middle-2;
    background-color: rgba(0, 128, 0, 0.2);
    height: 15rem;
}

.column-2-middle-2 p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
}

.column-2-middle-2 h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
}

.column-2-lowest {
    grid-area: column-2-lowest;
    background-color: rgba(0, 400, 0, 0.1);
}

.column-2-lowest p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding-left: 0.2rem;
}

.column-2-lowest h4 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
}

.inline {
    display: flex;
}


#potassium-caps-value-input {
    pointer-events: none;
    opacity: 30%
}

#serum-potassium-value-input {
    pointer-events: none;
    opacity: 30%
}

.disable {
    pointer-events: none;
    opacity: 30%
}

#salt-tabs-value-input {
    pointer-events: none;
    opacity: 30%
}

#urea-packets-value-input {
    pointer-events: none;
    opacity: 30%
}

#ddavp-value-input {
    pointer-events: none;
    opacity: 30%
}

#half-normal-saline-value-input {
    pointer-events: none;
    opacity: 30%
}

#LR-value-input {
    pointer-events: none;
    opacity: 30%
}

#potassium-manual-value-input {
    pointer-events: none;
    opacity: 30%
}

#ecf-volume-value-input {
    pointer-events: none;
    opacity: 30%
}

.set-baseline-button {
    margin-top: 0.5rem;
    height: 2rem;
}

.set-baseline-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


.set-pre-interval-button {
    margin-top: 0.5rem;
    height: 2rem;
}

.set-pre-interval-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.set-initial-state-button {
    margin-top: 0.5rem;
    height: 2rem;
}

.set-initial-state-button h5 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


.center {
    display: flex;
    justify-content: center;
}

.gap-below {
    margin-bottom: 1rem;
}

.comment {
    width: 35vw;
    margin-right: 2rem;
    font-size: smaller;
}