body {
    margin-left: 1rem;
    background-color: rgb(28, 30, 34);
    color: rgb(219, 217, 227)
}

.line {
    fill: none;
    stroke: rgb(57, 85, 108);
    stroke-width: 2px; 
    z-index: 10;
  }

  .dotted-line { 
    fill: none;
    stroke: rgb(175, 171, 168);
    stroke-width: 1.5px; 
    z-index: 9;
 }

 .dotted-line-2 {
    fill: none;
    stroke: rgb(220, 98, 85);
    stroke-width: 1.5px; 
    z-index: 8;
 }

